<a href="https://colab.research.google.com/github/sachingk08/Pyspark/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 62 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=70749c747ad77cb9aadec22befe2c4cd1c26f934348f51ffc5f68aa30514e905
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
data = ["Project Gutenberg’s",
"Alice’s Adventures in Wonderland",
"Project Gutenberg’s",
"Adventures in Wonderland",
"Project Gutenberg’s"]

In [ ]:
rdd=spark.sparkContext.parallelize(data)
for i in rdd.collect():
    print(i)

Project Gutenberg’s
Alice’s Adventures in Wonderland
Project Gutenberg’s
Adventures in Wonderland
Project Gutenberg’s

In [ ]:
#Flatmap printing every word in each line
rdd2=rdd.flatMap(lambda x: x.split(" "))
for i in rdd2.collect():
    print(i)

Project
Gutenberg’s
Alice’s
Adventures
in
Wonderland
Project
Gutenberg’s
Adventures
in
Wonderland
Project
Gutenberg’s

In [ ]:
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
a= spark.createDataFrame(["SAM","JOHN","AND","ROBIN","ANAND"],"string")\
.toDF("Name")
print('Hello')
a.show()
def f(x): print(x)
b = a.foreach(f)

Hello
+-----+
| Name|
+-----+
|  SAM|
| JOHN|
|  AND|
|ROBIN|
|ANAND|
+-----+

In [ ]:
data = [('mike','tisson','M',31797),
('roger','fedrik','M',41203),
('natasha','Will','F',62817),]

In [ ]:
columns = ["firstname","lastname","sex","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+---+------+
|firstname|lastname|sex|salary|
+---------+--------+---+------+
|     mike|  tisson|  M| 31797|
|    roger|  fedrik|  M| 41203|
|  natasha|    Will|  F| 62817|
+---------+--------+---+------+

In [ ]:
rdd=spark.sparkContext.parallelize(data)
rdd2=df.rdd.map(lambda x:(x[0]+","+x[1],x[2],x[3]*3))
df2=rdd2.toDF(["name","sex","newSalary"] )
df2.show()

+------------+---+---------+
|        name|sex|newSalary|
+------------+---+---------+
| mike,tisson|  M|    95391|
|roger,fedrik|  M|   123609|
|natasha,Will|  F|   188451|
+------------+---+---------+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.appName('Spark.com')\
.getOrCreate()

In [ ]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
(2,"Rose",1,"2010","20","M",4000), \
(3,"Williams",1,"2010","10","M",1000), \
(4,"Jones",2,"2005","10","F",2000), \
(5,"Brown",2,"2010","40","",-1), \
(6,"Brown",2,"2010","50","",-1) \
]

In [ ]:
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
"emp_dept_id","gender","salary"]

In [ ]:
empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
spark = SparkSession.builder.appName('Productwithcountry.com').getOrCreate()

In [ ]:
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

In [ ]:
columns= ["Product","Amount","Country"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- Country: string (nullable = true)

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |400   |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+

In [ ]:
pivotDF = df.groupBy("Product").pivot("Country").sum("Amount")
pivotDF.printSchema()
pivotDF.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+

In [ ]:
pivotDF = df.groupBy("Product","Country") \
.sum("Amount") \
.groupBy("Product") \
.pivot("Country") \
.sum("sum(Amount)")
pivotDF.printSchema()
pivotDF.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+

In [ ]:
unpivotExpr = "stack(3, 'Canada', Canada, 'China', China, 'Mexico', Mexico) as (Country,Total)"
unPivotDF = pivotDF.select("Product", expr(unpivotExpr)) \
.where("Total is not null")
unPivotDF.show(truncate=False)

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
|Orange |China  |4000 |
|Beans  |China  |1500 |
|Beans  |Mexico |2000 |
|Banana |Canada |2000 |
|Banana |China  |400  |
|Carrots|Canada |2000 |
|Carrots|China  |1200 |
+-------+-------+-----+

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring
spark=SparkSession.builder.appName("stringoperations").getOrCreate()
data = [(1,"20200828"),(2,"20180525")]
columns=["id","date"]
df=spark.createDataFrame(data,columns)

In [ ]:
#Using SQL function substring()
df.withColumn('year', substring('date', 1,4))\
.withColumn('month', substring('date', 5,2))\
.withColumn('day', substring('date', 7,2))
df.printSchema()
df.show(truncate=False)

root
 |-- id: long (nullable = true)
 |-- date: string (nullable = true)

+---+--------+
|id |date    |
+---+--------+
|1  |20200828|
|2  |20180525|
+---+--------+

In [ ]:
#Using select
df1=df.select('date', substring('date', 1,4).alias('year'), \
substring('date', 5,2).alias('month'), \
substring('date', 7,2).alias('day'))
df1.show(truncate=False)

+--------+----+-----+---+
|date    |year|month|day|
+--------+----+-----+---+
|20200828|2020|08   |28 |
|20180525|2018|05   |25 |
+--------+----+-----+---+

In [ ]:
#Using with selectExpr
df2=df.selectExpr('date', 'substring(date, 1,4) as year', \
'substring(date, 5,2) as month', \
'substring(date, 7,2) as day')
df2.show(truncate=False)

+--------+----+-----+---+
|date    |year|month|day|
+--------+----+-----+---+
|20200828|2020|08   |28 |
|20180525|2018|05   |25 |
+--------+----+-----+---+

In [ ]:
#Using substr from Column type
df3=df.withColumn('year', col('date').substr(1, 4))\
.withColumn('month',col('date').substr(5, 2))\
.withColumn('day', col('date').substr(7, 2))
df3.show(truncate=False)
df3.show()

+---+--------+----+-----+---+
|id |date    |year|month|day|
+---+--------+----+-----+---+
|1  |20200828|2020|08   |28 |
|2  |20180525|2018|05   |25 |
+---+--------+----+-----+---+

+---+--------+----+-----+---+
| id|    date|year|month|day|
+---+--------+----+-----+---+
|  1|20200828|2020|   08| 28|
|  2|20180525|2018|   05| 25|
+---+--------+----+-----+---+

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("CatchSpy") \
    .enableHiveSupport() \
    .getOrCreate()

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 61 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=0003353f251d6fd5bff1a0fdf8dc4356eaffc3ddcbfe8c867e15a45724561584
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
spark.sql("CREATE TABLE IF NOT EXISTS Invites (SrNo int, Name String, Breed String, Colour String, Location String) Using hive")

DataFrame[]

In [ ]:
spark.sql("Truncate Table Invites")
spark.sql("Insert into Invites values (1,'Bhalu','Bear','Brown','Away'),(2,'Lucy','Cat','Grey','Home'),(3,'Tiny','Mouse','Grey', 'Home'),(4,'Bruno','Dog','Black', 'Away'),(5,'Moski','Cat','white','Away')")

DataFrame[]

In [ ]:
print("Displaying Records:")
print(spark.sql("Select * from Invites").show())

Displaying Records:
+----+-----+-----+------+--------+
|SrNo| Name|Breed|Colour|Location|
+----+-----+-----+------+--------+
|   3| Tiny|Mouse|  Grey|    Home|
|   4|Bruno|  Dog| Black|    Away|
|   5|Moski|  Cat| white|    Away|
|   1|Bhalu| Bear| Brown|    Away|
|   2| Lucy|  Cat|  Grey|    Home|
+----+-----+-----+------+--------+

None

In [ ]:
print("Total members at the party:")
print(spark.sql("Select count(*) from Invites").show())

Total members at the party:
+--------+
|count(1)|
+--------+
|       5|
+--------+

None

In [ ]:
print("Total cats in the party:")
print(spark.sql("Select count(*) from Invites where Breed = 'Cat'").show())
print("Jerry: Oh I think Lucy is the culprit")

Total cats in the party:
+--------+
|count(1)|
+--------+
|       2|
+--------+

None
Jerry: Oh I think Lucy is the culprit

In [ ]:
print(spark.sql("Select * from Invites where Breed = 'Cat'").show())
print("We are too close to finding them.")

+----+-----+-----+------+--------+
|SrNo| Name|Breed|Colour|Location|
+----+-----+-----+------+--------+
|   5|Moski|  Cat| white|    Away|
|   2| Lucy|  Cat|  Grey|    Home|
+----+-----+-----+------+--------+

None
We are too close to finding them.

In [ ]:
print("Spy Identified:")
print(spark.sql("select * from Invites where Breed = 'Cat' and  Colour = 'white'").show())
print("Tom He is the spy")

Spy Identified:
+----+-----+-----+------+--------+
|SrNo| Name|Breed|Colour|Location|
+----+-----+-----+------+--------+
|   5|Moski|  Cat| white|    Away|
+----+-----+-----+------+--------+

None
Tom He is the spy

In [ ]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("CricketMatch")
sc = SparkContext(conf=conf)

ValueError: ignored

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("CricketMatch") \
    .enableHiveSupport() \
    .getOrCreate()

In [ ]:
#Drop tables 
spark.sql("Drop table TeamTom")
spark.sql("Drop table TeamJerry")

AnalysisException: ignored